.background {
    display: flex;
    flex-flow: row wrap;
    /* background-color: peru; */
    align-content: center;
    justify-content: center;
}

body {
    background-color: brown;
}

.title {
    display: flex;
    background-color: orange;
    font-family: Comic Sans MS, cursive, sans-serif;
    padding: 10px;
    border: medium solid black;
    flex-flow: row wrap;
}

.table {
    display: flex;
    background-color: burlywood;
    flex-flow: column wrap;
    padding: 100px;
    width: 70%;
    min-height: 1vh;
    padding-bottom: 50px;
}

.break {
    width: 100%;
    border-style: none;
}

.tab {
    width: 5%;
}

.card1 {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    background-color: blanchedalmond;
    border: black medium solid;
    height: 350px;
    width: 15%;
    animation: spin 1s forwards;
    z-index: 1;
}

.card2 {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    background-color: blanchedalmond;
    border: black medium solid;
    height: 350px;
    width: 15%;
    animation: spin1 1s forwards 1s;
    visibility: hidden;
    z-index: 1;
}

.number {
    margin: 10px;
    width: 50%;
    width: fit-content;
    font-family: Comic Sans MS, cursive, sans-serif;
    font-size: 25px;
}

.numberBottom {
    margin: 10px;
    transform: rotate(180deg);
    width: fit-content;
    margin-left: auto;
    font-family: Comic Sans MS, cursive, sans-serif;
    font-size: 25px;
}

.container {
    display: flex;
    justify-content: space-between;
    perspective: 1000px;
}

.containerCenter {
    display: flex;
    justify-content: center;
    perspective: 1000px;
    text-align: center;
}

.cardContainerThing {
    display:flex;
    flex-flow: column wrap;
    justify-content: space-between;
    perspective: 1000px;
    width: 100%;
    height: 100%;
    position: absolute;
}

.cardContainerThingCenter {
    display:flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-content: space-between;
    perspective: 1000px;
    width: 100%;
    height: 100%;
    position: absolute;
    width: 90%;
    margin-left: 5%;
    backface-visibility: hidden;
}

.flexBreak {
    flex-basis: 100%;
    height: 0;
}

.images {
    width: 50px;
    height: 50px;
    /* visibility: hidden; */
}

#loseScreen {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    height: 100vh;
    width: 100vw;
    position: fixed;
    margin:0;
    left:0;
    top:0;
    z-index: 1000;
    visibility: hidden;
    transition: background-color 2s;
}

#lossText {
    position:absolute;
    font-family: Comic Sans MS, cursive, sans-serif;
    font-size: 100px;
    color: rgba(153, 255, 0, 0);
    transition: color 2s;
}

#winText {
    position:absolute;
    font-family: Comic Sans MS, cursive, sans-serif;
    font-size: 100px;
    color: rgba(153, 255, 0, 0);
    transition: color 2s;
}

#hit {
    width: 100px;
}

#stand {
    width: 100px;
}

#reset {
    width: 100px;
}

.flip-card {
    background-color: transparent;
    width: 15%;
    height: 350px;
    perspective: 1000px;
    position: relative;
    margin-left: 0;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
}

/* .flip-card:hover .flip-card-inner {
    transform: rotateY(0deg);
} */

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
}

.flip-card-front {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    background-color: blanchedalmond;
    border: black medium solid;
}

.flip-card-back {
    background-color: dodgerblue;
    border: black medium solid;
    transform: rotateY(180deg);
}

@keyframes spin {
    0% {
        transform: rotate3d(0, 0, 0, 0);
        position: relative;
        left: 100%;
        visibility: visible;
    }

    99% {
        transform: rotate3d(0, 0.5, 0.2, 360deg);
        left: 0px;
        visibility: visible;
        position: relative
    }

    100% {
        position: static;
        visibility: visible;
        transform: rotate3d(0, 0.5, 0.2, 360deg)
    }
}

@keyframes spin1 {
    0% {
        transform: rotate3d(0, 0, 0, 0);
        position: relative;
        left: 80%;
        visibility: visible;
    }

    99% {
        transform: rotate3d(0, 0.5, 0.2, 360deg);
        left: 0px;
        visibility: visible;
        position: relative
    }

    100% {
        position: static;
        visibility: visible;
        transform: rotate3d(0, 0.5, 0.2, 360deg)
    }
}

@keyframes spin2 {
    0% {
        transform: rotate3d(0, 0, 0, 0);
        position: relative;
        left: 60%;
        visibility: visible;
    }

    99% {
        transform: rotate3d(0, 0.5, 0.2, 360deg);
        left: 0px;
        visibility: visible;
        position: relative
    }

    100% {
        position: static;
        visibility: visible;
        transform: rotate3d(0, 0.5, 0.2, 360deg)
    }
}

@keyframes spin3 {
    0% {
        transform: rotate3d(0, 0, 0, 0);
        position: relative;
        left: 40%;
        visibility: visible;
    }

    99% {
        transform: rotate3d(0, 0.5, 0.2, 360deg);
        left: 0px;
        visibility: visible;
        position: relative
    }

    100% {
        position: static;
        visibility: visible;
        transform: rotate3d(0, 0.5, 0.2, 360deg)
    }
}

@keyframes spin4 {
    0% {
        transform: rotate3d(0, 0, 0, 0);
        position: relative;
        left: 20%;
        visibility: visible;
    }

    99% {
        transform: rotate3d(0, 0.5, 0.2, 360deg);
        left: 0px;
        visibility: visible;
        position: relative
    }

    100% {
        position: static;
        visibility: visible;
        transform: rotate3d(0, 0.5, 0.2, 360deg)
    }
}