.background {
    display: flex;
    flex-flow: row wrap;
    /* background-color: peru; */
    align-content: center;
    justify-content: center;
}

.title {
    display: flex;
    background-color: orange;
    font-family: Comic Sans MS, cursive, sans-serif;
    padding: 10px;
    border: medium solid black;
    flex-flow: row wrap;
}

.table {
    display: flex;
    background-color: burlywood;
    flex-flow: column wrap;
    padding:100px;
    width: 70%;
    min-height: 500px;
}

.break {
    width: 100%;
    border-style: none;
}

.tab {
    width: 5%;
}

.card1 {
    display:flex;
    flex-flow: column wrap;
    justify-content: space-between;
    background-color: blanchedalmond;
    border: black medium solid;
    min-height: 300px;
    width: 15%;
    animation: spin 1s forwards;
    z-index: 1;
}

.card2 {
    display:flex;
    flex-flow: column wrap;
    justify-content: space-between;
    background-color: blanchedalmond;
    border: black medium solid;
    min-height: 300px;
    width: 15%;
    animation: spin 1s forwards 1s;
    visibility: hidden;
    z-index: 1;
}

.number {
    margin: 10px;
    width: 50%;
    width: fit-content;
}

.numberBottom {
    margin: 10px;
    transform: rotate(180deg);
    width: fit-content;
    margin-left:auto;
}

.container {
    display: flex;
    justify-content: space-between;
    perspective: 1000px;
}

#hit {
    width: 100px;
}

#stand {
    width: 100px;
}

.flip-card {
    background-color: transparent;
    width: 15%;
    height: 300px;
    perspective: 1000px;
    position: relative;
    margin-left: 0;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
  }

  .flip-card:hover .flip-card-inner {
    transform: rotateY(0deg);
  }

  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }

  .flip-card-front {
    display:flex;
    flex-flow: column wrap;
    justify-content: space-between;
    background-color: blanchedalmond;
    border: black medium solid;
  }

  .flip-card-back {
    background-color: dodgerblue;
    border: black medium solid;
    transform: rotateY(180deg);
  }

@keyframes spin {
    0% {transform: rotate3d(0,0,0,0);position:relative;left:100%;visibility: visible;}
    99% {transform: rotate3d(0,0.5,0.2,360deg);left:0px;visibility: visible;position:relative}
    100% {position:static;visibility: visible;transform: rotate3d(0,0.5,0.2,360deg)}
}