/* p,
h1,
h2,
h3,
ol,
strong {
    font-family: Comic Sans MS, cursive, sans-serif;
    background-color: Khaki;
} */
.asdf {
    display: inline-flex;
    background-color: khaki;
    flex-direction: column;
    padding: 10px;
}